@font-face {
  font-family: 'PoppinsSM';
  src: url('../fonts/Poppins/Poppins-SemiBold.woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff2');
}

:root {
  --fontG: Poppins;
  --fontB: PoppinsSM;
  --blueBut: #2500f9;
  --H1text: #242f51;
  --Ptext: #616368;
  --Tred: #f55767;
  --Tblue: #2563ff;
  --Tgreen: #40975f;
}

body {
  overflow: scroll;
}

h1 {
  font-family: var(--fontB);
  font-size: 2.25rem;
  color: var(--H1text);
}

h3 {
  font-family: var(--fontB);
  font-weight: 700;
  font-size: 1.25rem;
}

p {
  font-family: var(--fontG);
  font-size: 1rem;
  color: var(--Ptext);
}

p span {
  display: block;
}

h1 span {
  display: block;
}

.line-heighth {
  line-height: 120%;
}

.line-heightp {
  line-height: 150%;
}

.center {
  text-align: center;
}

.content-width {
  width: 1170px;
}

.content-margin {
  margin: 0px auto;
}

.button {
  font-family: var(--fontB);
  font-size: 1rem;
  font-weight: 700;
  background-color: #2500f9;
  color: #fff;
  border: 1px solid blue;
  border-radius: 100px;
  text-decoration: none;
  padding: 20px 40px;
}

.button:hover {
  background-color: #fff;
  color: #2500f9;
  transition: 0.3s;
}

/* end of global declarations */

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 150px;
  z-index: 2;
}

.header-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a, .footer-logo a {
  font-family: var(--fontB);
  font-size: 1.88rem;
  color: #fcae61;
  text-transform: capitalize;
  text-decoration: none;
}

.header-logo a span, .header-logo a span {
 color: #242f51;
 text-transform: capitalize;
}

.header-menu, .footer-menu {
  width: 690px;
  display: flex;
  align-items: space-between;
}

.header .menu {
  width: 518px;
  height: 57px;
}

.header .menu ul{
  height: inherit;
  display: flex;
  align-items: flex-end;
}

.header .menu ul li{
  margin-bottom: 20px;
}

.header ul li a, .footer-menu ul li a {
  font-family: var(--fontG);
  font-size: 1rem;
  font-weight: 500;
  color: #242f51;
  text-decoration: none;
  margin-right: 35px;
}

.header ul li a span, .footer-menu ul li a span{
  text-transform: uppercase;
  margin-right: 0px;
}

.try {
  width: 170px;
  height: inherit;
  display: flex;
  align-items: center;
}

.banner {
  margin: 0px auto;
  width: 1600px;
  height: 845px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-container {
  display: flex;
}

.banner .banner-text {
  width: 550px;
  height: 430px;
  display: block;
  margin-top: 220px;
}

.banner .try-watch {
  display: flex;
  align-items: center;
}
.banner .watch {
  margin-left: 25px;
}

.banner .watch a {
  text-decoration: none;
  font-family: var(--fontG);
  color: #2500f9;
}

.banner .drag {
  background-color: #e2eaed;
  border: 1px solid #e2eaed;
  border-radius: 100px;
  width: 365px;
  display: flex;
}

.banner .drag p {
  color: var(--H1text);
  padding: 9px 10px 9px 50px;
  text-align: center;
}

.banner .yellow {
  width: 40px;
  height: 35px;
  background-color: #feaa25;
  border: 1px solid #feaa25;
  border-radius: 100px;
  position: absolute;
}

.banner .yellow img {
  width: 19px;
  height: 19px;
  display: block;
  margin: 8px auto;
}
.banner p {
  font-size: 1.13rem;
}

.banner h1 {
  margin: 28px 0px 40px;
  font-weight: 900;
  font-size: 3.75rem;
}

.banner .try-watch {
  margin-top: 40px;
}

.banner .try-watch a p {
  text-decoration: none;
  margin-left: 27px;
  color: #2500f9;
}

.banner h1 span {
  display: block;
}

.sponsor {
  height: 165px;
  margin-top: 115px;
  margin-bottom: 160px;
  z-index: 1;
}

.sponsor-container {
  display: block;
}

.sponsor p {
  color: #242f51;
}

.sponsor .sponsor-text {
  width: inherit;
  font-family: var(--fontG);
  font-size: 1rem;
  color: var(--H1text);
  text-align: center;
  margin-bottom: 50px;
}

.sponsor .sponsor-comp {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.sponsor .sponsor-comp img {
  transition: transform 0.3s;
}

.sponsor .sponsor-comp img:hover{
  transform: scale(1.5);
}

.features {
  height: 1510px;
  z-index: 1;
}

.features-container {
  display: block;
}

.features-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-top-text {
  height: 780px;
  display: block;
}

.features-top-text h1 span {
  display: block;
}

.features-box-container {
  margin-top: 90px;
  display: block;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.box-text h3{
  margin-bottom: 20px;
}

.box-text h3{
  color: #f55767;
}

.features-bot1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 113px;
  margin-top: 20px;
}

.features-bot1-text {
  padding-right:
  border-right: 1px solid #b9b9b8;
}

.features-bot1-p {
  margin-left: -10px;
}

.features-bot1 h1 span {
  display: block;
}

.features-bot1-text h1 {
  padding-right: 100px;
  border-right: 1px solid #b9b9b8;
  font-weight: 700;
}

.features-bot1-p {
  margin-left: -180px;
}

.features-bot2, ult-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features-box2 {
  display: block;
}

.features-box2 h3 {
  margin-top: 35px;
}

.designed {
  height: 575px;
  z-index: 1;
}

.designed-container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.designed-text {
  margin-top: 12%;
  margin-bottom: 15%;
  display: block;
}

.designed h1 {
  font-weight: 700;
}

.designed-text span {
  display: block;
}

.designed-text p {
  margin-top: 10%;
  margin-bottom: 15%;
}

.why {
  margin-top: 140px;
  height: 815px;
  z-index: 1;
}

.why-container {
  display: block;
}

.why-text {
  margin-bottom: 90px;
}

.why-text h1 {
  margin-bottom: 35px;
}

.why .why-text span{
  display: block;
}

.why .why-text2 h3 {
  color: #242f51;
  margin-bottom: 20px;
}

.why p {
  font-size: 1rem;
}

.why-text2 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.why-text2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffecef;
  margin-bottom: 30px;
}

.why .mini-box {
  margin-bottom: 60px;
}

.ultimate {
  margin-top: 185px;
  height: 900px;
  z-index: 1;
}

.ultimate p {
  margin-top: 30px;
}

.ult-container {
  height: inherit;
  display: flex;
}

.ult-text {
  display:  block;
}

.ultimate h3 {
  color: #242f51;;
}

.ult-box-container {
  margin-top: 60px;
  height: 600px;
  width: 700px;
  display: grid;
  grid-template-columns: auto auto;
}

.ult-box-container img {
  margin-bottom: 30px;
}

.ult-btn {
  margin-top: 30px;
}

.ult-btn a {
  padding-left: 60px;
  padding-right: 60px;
}

.ult-pic {
  margin-top: 70px;
  margin-left: -100px;
}

.ult-pic img{
  position: absolute;
}

.charges {
  margin-top: 170px;
  margin-bottom: 230px;
  height: 965px;
  z-index: 1;
}

.charges-container {
  height: inherit;
}

.charges-des {
  margin-bottom: 80px;
}

.charges-des h1 {
  margin-bottom: 40px;
}

.charges-slider {
  width: 285px;
  height: 57px;
  border: 3px solid #ebebeb;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.charges-payment {
  display: flex;
  justify-content: space-around;
}

.charges-slider .monthly {
  width: 136px;
  height: 48px;
  border: 1px solid #2500f9;
  border-radius: 100px;
  background-color: #2500f9;
  margin-left: 3px;
}

.charges-slider .monthly h3 {
  font-size: 1rem;
  margin: 16px 34px 16px;
  color: #fff;
}

.charges-slider .annually h3 {
  font-size: 1rem;
  margin: 16px 34px 16px;
  color: #929396;
}

.charges-promo {
  display: flex;
  justify-content: center;
}

.promo-container {
  width: inherit;
}
.charges-promo .box1-top {
  position: relative;
}

.charges-promo .box1-top img {
  margin-top: 35px;
}

.charges-promo .box1-top-text, .box2-top-text {
  position: absolute;
  top: 15%;
  left: 27%;
}

.charges-promo .box1-top-text h1, .box2-top-text h1 {
  margin-left: 10px;
  margin-bottom: 28px;
  font-size: 3.75rem;
  display: flex;
  align-items: flex-end;
}

.charges-promo .box1-top-text h1 span, .box2-top-text h1 span {
  font-family: var(--fontG);
  font-size: 1.13rem;
  color: #999ca5;
  padding-bottom: 10px;
}

.charges-promo h3 {
  color: var(--H1text);
  margin-bottom: 8px;
}

.charges-promo p {
  color: #999ca5;
}

.box1-bot-text, .box2-bot-text {
  position: absolute;
  bottom: 30%;
  left: 30%;
  line-height: 50px;
}

.box2-top-text {
  left: 20%;
}

.box2-bot-text {
  left: 26%;
}

.box1-top .una a{
  position: absolute;
  left: 20%;
  bottom: 20%;
}

.box1-top .duha a {
  font-size: 1rem;
  font-family: var(--fontG);
  text-decoration: none;
  position: absolute;
  left: 27%;
  bottom: 15%;
}

.client {
  height: 650px;
  z-index: 1;
}

.client-container {
  height: inherit;
  display: flex;
}

.client-img {
  height: inherit;
  margin-left: -200px;
}

.client-text {
  margin-top: 10px;
  right: 0;
  display: block;
}

.client-des {
  margin-bottom: 43px;
}

.client-text p{
  margin-top: 28px;
}

.client .star i {
  color: #ffcc00;
}

.client .star h3 {
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 35px;
  color: var(--H1text);
}

.client-testimonials {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.client-testimonials .test {
  display: flex;
}

.client-arrows {
  display: flex;
}

.client-arrows .arrow {
  width: 45px;
  height: 45px;
  border: 1px solid #eff3f8;
  border-radius: 50%;
  margin: auto 8px auto;
}

.client-arrows .arrow i {
  height: inherit;
  width: inherit;
  margin: 15px 15px;
  color: #eff3f8;
}

.client-arrows .space {
  height: 25px;
  border-right: 1px solid #e7e7e7;
  margin: auto 8px auto;
}

.client-arrows .arrow2 {
  width: 45px;
  height: 45px;
  border: 1px solid #eff3f8;
  background-color: #eff3f8;
  border-radius: 50%;
  margin: auto 8px auto;
}

.client-arrows .arrow2 i {
  height: inherit;
  width: inherit;
  margin: 15px 15px;
  color: #2500f9;
}

.client-arrows .arrow2:hover {
  transition: 1s;
  background-color: #fff;
}

.test-id {
  margin: auto 30px auto;
  display: block;
}

.test-id h3 {
  font-size: 1.13rem;
  margin-bottom: 15px;
}

.test-id p {
  font-weight: 500;
  font-size: 1.13rem;
}


.faq {
  margin-top: 200px;
  margin-bottom: 112px;
  height: 760px;
  z-index: 1;
}

.faq h3 {
  font-style: 1.25rem;
  color: var(--H1text);
}

.faq-container {
  display: block;
}

.faq1 {
  height: 178px;
}

.faq1 p {
  margin-top: 30px;
}

.faq2 {
  background-color: #f5f7fa;
  padding: 51px 48px 78px;
}

.faq2 p {
  margin-top: 43px;
}

.faq3-box {
  margin-top: 10px;
  background-color: #f5f7fa;
  padding: 25px 50px 18px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.faq3 a {
  text-decoration: none;
}

.faq3 h4 {
  font-family: var(--fontB);
  font-weight: 700;
  font-size: 1.5rem;
}

.download {
  height: 428px;
  background-repeat: no-repeat;
  z-index: 1;
}

.download-container {
 display: flex;
}

.download-text {
  z-index: 2;
  margin-top: 98px;
}

.download h1 {
  font-size: 3rem;
}

.download-text p {
  margin-top: 43px;
  margin-bottom: 51px;
}

.download .down-img {
  margin-top: 16px;
  position: absolute;
  right: 9%;
  z-index: 1;
}

.download .download-apps {
  height: 100px;
}

.download .download-apps a img {
  margin: 0px 20px 0px;
}

.footer {
  height: 532px;
  z-index: -1;
  background-color: #09142e;
}

.footer-container {
  height: inherit;
  display: flex;
  align-items: center;
}

.footer-text {
  height: 310px;
  width: inherit;
  display: block;
}
.footer-logo h1 a {
  font-family: var(--fontB);
  font-weight: 900;
}

.footer-logo a span {
  color: #fff;
}

.footer-menu {
  margin-top: 53px;
  width: inherit;
}

.footer-menu ul {
  margin: 0px 310px 0px;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.footer-menu ul li a {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}

.footer-icons {
  text-decoration: none;
  margin: 55px 500px 90px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icons a i {
  text-decoration: none;
  font-size: 2rem;
  color: #273043;
}

.footer-text p {
  text-align: center;
}
